<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cares.p1.register.RegisterDAO">
	
	<insert id="join" parameterType="RegisterDTO">
		INSERT INTO REGISTER
		VALUES (#{id}, #{pw}, #{name}, #{nickname}, #{gender}, #{phone}, #{email}, #{adress}, 1, FAVORITE_SEQ.NEXTVAL)
	</insert>
	
	<select id="login" parameterType="RegisterDTO" resultType="RegisterDTO">
		SELECT ID, NICKNAME FROM REGISTER WHERE ID = #{id} AND PW = #{pw}
	</select>

	<select id="mypage" parameterType="RegisterDTO" resultType="RegisterDTO">
		SELECT ID, NAME, NICKNAME, GENDER, PHONE, EMAIL, ADRESS FROM REGISTER WHERE ID = #{id}
	</select>

</mapper>